* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('images/background-white-textures.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: top center;
}

a {
  text-decoration: none;
  color: #D57F34;
  font-size: 16px;
}

a:hover {
  color: #9C4826;
}

.header {
  border: 1px solid red;
  margin: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-family: "Short Stack", cursive;
}

.main {
  border: 1px solid red;
  margin: 0;
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 68px;
  color: #4E5E78;
  text-align: center;
}

h2 {
  font-family: "Short Stack", cursive;
  color: #4E5E78;
}

p, ul {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: #2e3157;
}

.example-code {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

pre {
  width: fit-content;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #D57F34;
  margin: 2px;
}

code {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: #2e3157;
  padding: 2px 6px;
}

.my-photo {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.footer {
  border: 1px solid red;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.short-stack-regular {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat, #code {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}