* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    border: 1px solid red;
    margin: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main {
    border: 1px solid red;
    margin: 0;
}

.footer {
    border: 1px solid red;
    margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.short-stack-regular {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}


.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}